body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

header {
  background-color: #ffffff;
  padding-bottom: 30px;
  .profile {
    .row {
      align-items: center;
      .logo {
        display: flex;
        justify-content: flex-end;
      }
      .block_left {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 60px;
        .monblan {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          padding-bottom: 20px;
          h4 {
            font-size: 42px;
            font-family: "Myriad Pro";
            color: rgb(38, 38, 38);
          }
          .start {
            margin-left: 20px;
            padding: 3px 11px;
            border: 1px solid rgb(64, 144, 219);
            border-radius: 3px;
            font-size: 17px;
            font-family: "HelveticaNeue";
            text-shadow: 1px 0 rgba(64, 144, 219, 0.7);
            color: rgb(64, 144, 219);
            height: fit-content;
          }
        }
        .following {
          span {
            margin-right: 29px;
            font-size: 17px;
            font-family: "ProximaNova";
            color: rgb(61, 64, 68);
            line-height: 1.412;
          }
        }
        .dates {
          font-size: 17px;
          font-family: "Tahoma";
          color: rgb(38, 38, 38);
          line-height: 1.412;
          display: flex;
          align-items: baseline;
          flex-wrap: wrap;
        }
      }
    }
  }
}

.block_medium {
  padding-top: 70px;
  padding-bottom: 45px;
  padding-left: 17%;
  .thumb {
    max-width: 292px;
    height: 292px;
    position: relative;
    display: flex;
    z-index: 0;
    a {
      text-decoration: none;
      cursor: default;
      img {
        margin: 0 0 30px 0;
        position: relative;
        .img-fluid {
          background-color: rgba(125, 125, 125, 1);
          opacity: 1;
        }
      }
    }
    .info_image {
      opacity: 0;
      position: absolute;
      top: 45%;
      left: 10%;
      z-index: 4;
      transition: 0.3s;
      .info_ {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
      }
      span {
        padding-right: 20px;
        padding-left: 5px;
        font-size: 17px;
        font-family: "ProximaNova";
        color: rgb(255, 255, 255);
        line-height: 1.412;
        img {
          margin-right: 6px;
        }
      }
      .info_1 {
      }
    }
    .info_image:hover {
      opacity: 1;
    }
  }
  .thumb:hover {
    .img-fluid {
      opacity: 0.6;
      z-index: 3;
    }
  }
}

footer {
  text-align: center;
  padding-bottom: 75px;
  a {
    font-size: 12px;
    font-family: "ProximaNova";
    color: rgb(0, 0, 0);
    line-height: 2;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    padding: 9px 28px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
}



@media (max-width: 1020px) {
  .dates {
    .media {
      margin-left: 50px;
    }
  }
  .block_medium {
    padding-left: 10%;
  }
}

@media (max-width: 998px) {
  .block_left {
    padding-left: 20px !important;
    .following {
      span {
        margin-right: 5px !important;
        font-size: 15px;
      }
    }
  }
  .block_medium {
    padding-left: 0;
  }
}