body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  .profile {
    .row{
      align-items: flex-end;
    }
    .monblan {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 44px;
      padding-bottom: 19px;
      h4 {
        font-size: 42px;
        font-family: "Myriad Pro";
        color: rgb(38, 38, 38);

      }
      .start {
        margin-left: 20px;
        padding: 9px 12px;
        border: 1px solid rgb(64, 144, 219);
        border-radius: 3px;
        font-size: 15px;
        font-family: "HelveticaNeue";
        text-shadow: 1px 0 rgba(64, 144, 219, 0.7);
        color: rgb(64, 144, 219);

      }
    }
    .following {
      span {
        margin-right: 29px;
        font-size: 17px;
        //font-family: "ProximaNova";
        color: rgb(61, 64, 68);
        line-height: 1.412;
      }
    }
    .dates {
      font-size: 17px;
      font-family: "Tahoma";
      color: rgb(38, 38, 38);
      line-height: 1.412;
    }
    //.img{
    //  background: url("../images/bg_header.png") no-repeat center;
    //  background-size: cover;
    //  height: 660px;
    //}
  }
}

.gallery{
  background-color: #fafafa;
  margin-top: 34px;
  padding-top: 70px;
  .mdb-lightbox{
    display: flex;
    flex-wrap: wrap;
    .img-fluid{
      margin: 0 15px 15px 15px ;
    }
  }
}