body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fafafa; }

header {
  background-color: #ffffff;
  padding-bottom: 30px; }
  header .profile .row {
    align-items: center; }
    header .profile .row .logo {
      display: flex;
      justify-content: flex-end; }
    header .profile .row .block_left {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-left: 60px; }
      header .profile .row .block_left .monblan {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 20px; }
        header .profile .row .block_left .monblan h4 {
          font-size: 42px;
          font-family: "Myriad Pro";
          color: #262626; }
        header .profile .row .block_left .monblan .start {
          margin-left: 20px;
          padding: 3px 11px;
          border: 1px solid #4090db;
          border-radius: 3px;
          font-size: 17px;
          font-family: "HelveticaNeue";
          text-shadow: 1px 0 rgba(64, 144, 219, 0.7);
          color: #4090db;
          height: fit-content; }
      header .profile .row .block_left .following span {
        margin-right: 29px;
        font-size: 17px;
        font-family: "ProximaNova";
        color: #3d4044;
        line-height: 1.412; }
      header .profile .row .block_left .dates {
        font-size: 17px;
        font-family: "Tahoma";
        color: #262626;
        line-height: 1.412;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap; }

.block_medium {
  padding-top: 70px;
  padding-bottom: 45px;
  padding-left: 17%; }
  .block_medium .thumb {
    max-width: 292px;
    height: 292px;
    position: relative;
    display: flex;
    z-index: 0; }
    .block_medium .thumb a {
      text-decoration: none;
      cursor: default; }
      .block_medium .thumb a img {
        margin: 0 0 30px 0;
        position: relative; }
        .block_medium .thumb a img .img-fluid {
          background-color: #7d7d7d;
          opacity: 1; }
    .block_medium .thumb .info_image {
      opacity: 0;
      position: absolute;
      top: 45%;
      left: 10%;
      z-index: 4;
      transition: 0.3s; }
      .block_medium .thumb .info_image .info_ {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px; }
      .block_medium .thumb .info_image span {
        padding-right: 20px;
        padding-left: 5px;
        font-size: 17px;
        font-family: "ProximaNova";
        color: white;
        line-height: 1.412; }
        .block_medium .thumb .info_image span img {
          margin-right: 6px; }
    .block_medium .thumb .info_image:hover {
      opacity: 1; }
  .block_medium .thumb:hover .img-fluid {
    opacity: 0.6;
    z-index: 3; }

footer {
  text-align: center;
  padding-bottom: 75px; }
  footer a {
    font-size: 12px;
    font-family: "ProximaNova";
    color: black;
    line-height: 2;
    border: 1px solid black;
    background-color: #fafafa;
    padding: 9px 28px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none; }
  footer a:hover {
    text-decoration: none;
    color: black;
    transition: 0.3s; }

@media (max-width: 1020px) {
  .dates .media {
    margin-left: 50px; }

  .block_medium {
    padding-left: 10%; } }
@media (max-width: 998px) {
  .block_left {
    padding-left: 20px !important; }
    .block_left .following span {
      margin-right: 5px !important;
      font-size: 15px; }

  .block_medium {
    padding-left: 0; } }

/*# sourceMappingURL=style.css.map */
